<div class="panel chat-panel" id="panel-999" cmd="void" style="transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0, 1); transform: translate3d(0px, 0px, 0px); display: block;">
    <header id="panelHeader-999" class="panel_header">
        <div id="panelLeftButton-999" class="btn btn_small btn_left btn_black btn_setting" cmd="clickLeftButton"> </div>
        <h1 id="panelTitle-999" class="text_ellipsis padding_20">按分组群发</h1>
        <button id="panelRightButton-999" class="btn btn_small btn_right btn_black btn_setting" cmd="clickRightButton"> <span id="panelRightButtonText-999" class="btn_text">关闭</span> </button>
    </header>
    <div id="panelBodyWrapper-999" class="panel_body_container" style="top: 45px; bottom: 50px; overflow: hidden;">
        <div id="panelBody-999" class="panel_body chat_container" style="transition-property: -webkit-transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);"></div>
        <ul id="pannelMenuList-999" class="pannel_menu_list" style="display: block;">
            <li cmd="viewQzone" class="viewQzone">
                <div class="menu_list_icon"></div> QQ空间 </li>
            <li cmd="viewInfo" class="viewInfo">
                <div class="menu_list_icon"></div> 详细资料 </li>
            <li cmd="viewRecord" class="viewRecord">
                <div class="menu_list_icon"></div> 聊天记录 </li>
        </ul>
    </div>
    <footer id="panelFooter-999" class="chat_toolbar_footer">
        <div class="chat_toolbar">
            <textarea id="chat_textarea999" class="input input_white chat_textarea" style="height:320px;"></textarea>
            <button id="send_chat_btn_999" class="btn btn_small btn_blue" cmd="sendMsg"> <span class="btn_text">发送</span> </button>
            <textarea id="" class="input input_white chat_textarea hidden_textarea" style="height: 32px; width: 99964px;"></textarea>
        </div>
        </div>
    </footer>
</div>
